.elevating-image {
    transition: transform 0.3s ease;
}

.elevating-image:hover {
    transform: translateY(-5px); /* Cambia la distancia según prefieras */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Añade sombra para dar efecto de elevación */
}


<!-- colores 
.color-picker {
    display: none;
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
}

.color-input {
    width: 50px; /* Ajusta según sea necesario */
    height: 30px; /* Ajusta según sea necesario */
}

/* Estilos para pantallas de tamaño pequeño (teléfonos) */
@media (max-width: 576px) {
    @media (max-width: 576px) {
        .image-container img {
            width: 10000px;
            height: auto;
        }
    }
    

    .text-center{
        text-align: right; /* Alinea el texto a la derecha */
        padding-right: 0px; /* Agrega un pequeño espacio a la derecha del texto */
        font-size: 21px; /* Tamaño de fuente ajustado */
    }
   
    
}



/* Estilos para pantallas de tamaño mediano (tabletas) */
@media (min-width: 577px) and (max-width: 992px) {
    .modal-body .row {
        margin-bottom: 30px;
    }
}

/* Estilos para pantallas de tamaño grande (computadoras) */
@media (min-width: 993px) {
    .modal-body .row {
        margin-bottom: 40px;
    }
}


